<!DOCTYPE html>
<html lang="en">
<style>
.btn {
  width: 140px;
  height: 30px;
  margin-top: 10px;
}
.form-control {
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

</style>
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body bgcolor="#c0c0c0">
    <h2>Our contacts</h2>
    <h3>Вика +7 (985) 909-33-10</h3>
    <h3>Самина +7 (916) 607-67-66</h3>
    <label>------------------------------------</label>
    <h2>Our emails</h2>
    <h3>Вика xxx@mail.com</h3>
    <h3>Самина saminasatt2111@gmail.com</h3>
    <label>------------------------------------</label>
    <h2>Questions</h2>
    <div>
        <input type="text" class="form-control" id="text" placeholder="Задайте вопрос" name="question">
        <br><button onclick="" id="btn" class="btn">Отправить</button>
        <script type="text/javascript">
            btn.onclick = function tap() {
            alert('Отправлено!');}
        </script>
    </div>
</body>
</html>