<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Travels</title>
    <link rel="stylesheet" type="text/css" href="../templates/travels.css">
</head>
<body>
  <h1 class="base">Записи в блоге</h1>
  <div class="container">
      <h2>Сложно сказать</h2>
      <div class="post-meta">
          <time datetime="2023-03-26">Апрель, 1</time>
          <span class="author">Мария Малиновая</span>
          <span class="category">Философия</span>
      </div>
      <a href="#zatemnenie" class="text">Посмотреть запись</a>
  </div>
  <div class="container">
      <h2>Сложно сказать</h2>
      <div class="post-meta">
          <time datetime="2023-03-26">Апрель, 1</time>
          <span class="author">Мария Малиновая</span>
          <span class="category">Философия</span>
      </div>
      <a href="#zatemnenie" class="text">Посмотреть запись</a>
  </div>
  <div class="container">
      <h2>Сложно сказать</h2>
      <div class="post-meta">
          <time datetime="2023-03-26">Апрель, 1</time>
          <span class="author">Мария Малиновая</span>
          <span class="category">Философия</span>
      </div>
      <a href="#zatemnenie" class="text">Посмотреть запись</a>
  </div>
  <div class="container">
      <h2>Сложно сказать</h2>
      <div class="post-meta">
          <time datetime="2023-03-26">Апрель, 1</time>
          <span class="author">Мария Малиновая</span>
          <span class="category">Философия</span>
      </div>
      <a href="#zatemnenie" class="text">Посмотреть запись</a>
  </div>
  <input type="button" onclick="history.back();" value="Назад"/>
  <div id="zatemnenie">
      <div id="okno" class="text_window">Всплывающее окошко!<br>
          <p>
             Идейные соображения высшего порядка, а также курс на социально-ориентированный национальный проект создает
             необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса
             прогресса профессионального сообщества.
          </p>
          # можно вставить картинка маленького размера
          <a href="#" class="close">Закрыть окно</a>
      </div>
  </div>
</body>
</html>