<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/css_img/style.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="head">
    <div class="logo">
      <a href="#PiperNetIsHere"><img src="../static/css_img/логотип.png" alt="logo"></a>
	</div>
    <nav>
      {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout" data-bs-toggl="tooltip" data-bs-placement="bottom" data-bs-title="Нажми, чтоб выйти из аккаунта">{{ current_user.nickname }}</a>
      {% else %}
        <a href="/login" target="_blank" style="color: #ffffff">Авторизация</a> |
        <a href="/register" target="_blank" style="color: #ffffff">Регистрация</a>
      {% endif %}
    </nav>
  </div>

  <div class="background_9n">
    <label><font size="60">9 "Н"</font></label>
  </div>

  <div>
    <h1 class="zagolvok"><font color="#834d18" size="50">Почему именно наш лицей?</font></h1>
    <div class="lyceum">
      <p>Во-первых, </p>
      <p>Во-вторых, </p>
    </div>
    <div class="lyceum">
      <h2>Преимущества обучения в инф-классе</h2>
      <ul>
        <li>углублённые знания о вычислительных машинах, их техническом устройстве, принципе работы</li>
        <li>обучение программированию на востребованных языках: Python, C++</li>
        <li>участие в малоизветсных олимпиадах, дающих преимущества при поступлении на IT факультеты в лучшие вузы страны</li>
        <li>меньше часов физики, в отличии от физ-мат групп</li>
      </ul>
    </div>
  </div>

  <div class="borya">
    <h1 class="zagolvok"><font color="#834d18" size="50">Наш классный руководитель</font></h1>
    <p><img src="../static/css_img/boris.jpg" alt="борямбус">
    Знакомство с каждым классом начинается с классного руководителя. Вот и он, наш Королёв Борис Игоревич. Проводник молодых людей в мир информационных технологий, а нас посвящает в тайны физических законов и явлений. Прекрасный, добрый человек, в меру строгий, но и чувства юмора хватает. И, конечно, он прекрасно чувствует и понимает детей, всегда старается помочь нам с нашей непростой учёбой, а мы стараемся его не расстраивать и поддерживать с ним хорошую дружбу.</p>
  </div>

  <div class="background_travels">
    <h1 class="zagolvok"><font size="7">Поездки</font></h1>
    <a href="../static/css_img/templates/chaepitiya.html" target="_blank">
      <img src="../static/css_img/chaepitiya.png" alt="photo" class="travels">
    </a>
    <a href="../static/css_img/templates/patriot.html" target="_blank">
      <img src="../static/css_img/park_patriot.jpg" alt="photo" class="travels">
    </a>
    <a href="../static/css_img/templates/spb.html" target="_blank">
      <img src="../static/css_img/spb.jpg" alt="photo" class="travels">
    </a>
  </div>

  <div class="description">
    <h1 class="zagolvok"><font size="7" color="#834d18">Почему именно они?</font></h1>
    <p>
      А о ком ещё надо рассказывать, как не о девятом Н2, ведь это такой небольшой, но такой крепкий, дружный и душевный коллектив.
      Конечно, компания эта разношёрстная, но никто из них никогда не почувствует себя чужим, будет поддержан и на нелёгком учебном пути, и в безобидных (и не очень) забавах, и предостережён от ошибок. Все мы связаны одной сетью...сетью дружбы, совместных историй и эмоций. И рады будем погрузить в неё и вас, вам осталось лишь проникнуться нашей маленькой, но очень сильной командой АЙТИ класса лицея 1523!
    </p>
  </div>

  <div class="avas_area">
    <h1 class="zagolvok"><font size="7" color="#834d18">Вот они, справа налево</font></h1>
  </div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% set i = "Вика Гончарова" %}
        <figure class="avatarki_8"><input type="image" src="../static/css_img/mates/vika.jpg" alt="нытик" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Вика Гончарова" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Вика Гончарова</figcaption></figure>
        {% set i = "Самина Саттарова" %}
        <figure class="avatarki_8"><input type="image" src="../static/css_img/mates/samina.jpg" alt="задолбалась слушать нытьё"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Самина Саттарова" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Самина Саттарова</figcaption></figure>
        {% set i = "Влад Цуриков" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/vlad.jpg" alt="no questions pls"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Влад Цуриков" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Влад Цуриков</figcaption></figure>
        {% set i = "Сеня Зайцев" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/senya.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Сеня Зайцев" data-bs-real="{{name}}" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Сеня Зайцев</figcaption></figure>
        {% set i = "Кирилл Бобков" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/kirill.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Кирилл Бобков" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Кирилл Бобков</figcaption></figure>
        {% set i = "Лёня Григоренко" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/lenia.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Лёня Григоренко" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Лёня Григоренко</figcaption></figure>
        {% set i = "Дима Бурмистров" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/dimab.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Дима Бурмистров" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
         <figcaption>Дима Бурмистров</figcaption></figure>
        {% set i = "Володя Шкляев" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/vovash.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Володя Шкляев" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Володя Шкляев</figcaption></figure>
      </div>
      <div class="carousel-item">
        {% set i = "Андрей Огибин" %}
        <figure class="avatarki_4"><input type="image" src="../static/css_img/mates/andrey.jpg" alt="нытик" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Андрей Огибин" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Андрей Огибин</figcaption></figure>
        {% set i = "Ульяна Боровская" %}
        <figure class="avatarki_4"><input type="image" src="../static/css_img/mates/uliana.jpg" alt="задолбалась слушать нытьё"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Ульяна Боровская" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Ульяна Боровская</figcaption></figure>
        {% set i = "Женя Якимов" %}
        <figure class="avatarki_4"><input type='image' src="../static/css_img/mates/shenya.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Женя Якимов" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Женя Якимов</figcaption></figure>
        {% set i = "Дима Павлов" %}
        <figure class="avatarki_4"><input type='image' src="../static/css_img/mates/dimap.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Дима Павлов" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Дима Павлов</figcaption></figure>
        {% set i = "Володя Наумов" %}
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/vovan.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Володя Наумов" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Володя Наумов</figcaption></figure>
        {% set i = "Серёжа Нерсесян" %}
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/seresha.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Серёжа Нерсесян" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Серёжа Нерсесян</figcaption></figure>
        {% set i = "Артём Чёрный" %}
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/artem.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-real="{{name}}" data-bs-name="Артём Чёрный" data-bs-character="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}" data-bs-travels="{{people[i][2]}}">
          <figcaption>Артём Чёрный</figcaption></figure>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <h1 class="col-form-label">Кто это?</h1>
                {% if not classmate %}
                    <p class="maybe_char"></p>
                {% else %}
                    <p class="added"></p>
                    <p class="char"></p>
                    <img src="../static/css_img/redact.jpg" class="icon" data-bs-toggle="modal" data-bs-target="#exampleModal2" id="mw" data-bs-toggl="tooltip" data-bs-placement="top" data-bs-title="">
                {% endif %}
              </div>
              <div class="mb-3">
                <h1 class="col-form-label">Чем же обычно занимается?</h1>
                <p class="hobby"></p>
              </div>
              <div class="mb-3">
                <h1 class="col-form-label">А вместе в классом он(а) посещал(а):</h1>
                <p class="travel"></p>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <form action="" method="post">
              {{ form.hidden_tag() }}
              <p>
              {{ form.about.label }}<br>
              {{ form.about(class="form-control") }}<br>
              {% for error in form.about.errors %}
                <p class="alert alert-danger" role="alert">
                  {{ error }}
                </p>
              {% endfor %}
              </p>
              <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
              {{message}}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="basement">
    <label font size="15" color="#ffffff">По всем вопросам обращайтесь к нашему телеграмм-боту:
      <a href="http://t.me/site9N_bot" target="_blank" style="color: #ffffff">http://t.me/site9N_bot</a></label>
  </div>
  <script type="text/javascript">

    const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget

    const real_name = button.getAttribute('data-bs-real')
    const recipient = button.getAttribute('data-bs-name')
    const info1 = button.getAttribute('data-bs-character')
    const info2 = button.getAttribute('data-bs-hobby')
    const info3 = button.getAttribute('data-bs-travels')

    const modalTitle = exampleModal.querySelector('.modal-title')
    const modalBody1 = exampleModal.querySelector('.hobby')
    const modalBody2 = exampleModal.querySelector('.travel')

    modalTitle.textContent = `${recipient}`
    modalBody1.textContent = `${info2}`
    modalBody2.textContent = `${info3}`

    if (info1 && !real_name) {
    const modalBody = exampleModal.querySelector('.maybe_char')
    modalBody.textContent = `${info1}`;
    } else if (!real_name && !info1) {
    const modalBody = exampleModal.querySelector('.maybe_char')
    modalBody.textContent = 'Этот человек пока не рассказал о себе';
    }

    if (real_name == recipient) {
    dec = document.getElementById("mw");
    const modalBody = exampleModal.querySelector('.char');
    const modalBody0 = exampleModal.querySelector('.added');
    modalBody0.textContent = `${info1}`;
    modalBody.textContent = '';
    dec.setAttribute("data-bs-target", "#exampleModal2");
    dec.setAttribute("data-bs-title", "Нажми, чтоб написать о себе");
    }
    else if (real_name != recipient && real_name && !info1) {
    dec = document.getElementById("mw")
    const modalBody = exampleModal.querySelector('.char');
    const modalBody0 = exampleModal.querySelector('.added');
    modalBody0.textContent = '';
    modalBody.textContent = `Напомни ${recipient} написать что-нибудь о себе`;
    dec.setAttribute("data-bs-title", "Ты не можешь писать о других");
    dec.removeAttribute("data-bs-target");
    }
    else if (real_name != recipient && real_name && info1) {
    const modalBody = exampleModal.querySelector('.char');
    modalBody.textContent = '';
    const modalBody0 = exampleModal.querySelector('.added');
    modalBody0.textContent = `${info1}`;
    dec = document.getElementById("mw");
    dec.setAttribute("data-bs-title", "Ты не можешь писать о других");
    dec.removeAttribute("data-bs-target");
    }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggl="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    })

  </script>
</body>