<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/css_img/style.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="head">
    <div class="logo">
      <a href="#PiperNetIsHere"><img src="../static/css_img/logo.png" alt="logo"></a>
	</div>
    <nav>
      <a href="static/css_img/templates/contacts.html" target="_blank"><font color="#ffffff">Авторизация</font></a> |
      <a href="static/css_img/templates/contacts.html" target="_blank"><font color="#ffffff">Регистрация</font></a>
    </nav>
  </div>

  <div class="background_9n">
    <label><font size="60">9 "Н"</font></label>
  </div>

  <div class="background_borya">
    <h1 class="zagolvok"><font color="#834d18" size="50">Наш классный руководитель</font></h1>
    <img src="../static/css_img/boris.jpg" alt="борямбус" class="classruk">
    <div class="block_classruk">
      <br><label>Он такой-то сякой-то</label>
      <br><label>Мы его очень любим!</label>
      <br><label>Плюсы: нет</label>
      <br><label>Минусы: и библии не хватит</label>
    </div>
  </div>

  <div class="background_travels">
    <h1 class="zagolvok">Поездки</h1>
    <a href="../static/css_img/templates/chaepitiya.html" target="_blank">
      <img src="../static/css_img/chaepitiya.jpg" alt="борямбус" class="travels">
    </a>
    <a href="../static/css_img/templates/patriot.html" target="_blank">
      <img src="../static/css_img/park_patriot.jpg" alt="борямбус" class="travels">
    </a>
    <a href="../static/css_img/templates/spb.html" target="_blank">
      <img src="../static/css_img/spb.jpg" alt="борямбус" class="travels">
    </a>
  </div>

  <div class="description">
    <h1 class="zagolovok"><font size="7" color="#834d18">Почему именно они?</font></h1>
    <p>
      <br>Ну во-первых, они все ебанутые...
      <br>Во-вторых, дикие подлизы
      <br>В-третьих, конченные дебилы
      <br>Но всё-таки, <strong>как же мы их не любим!</strong>
    </p>
  </div>

  <div class="avas_area">
    <h1 class="zagolovok"><font size="7" color="#834d18">Вот они, справа налево</font></h1>
  </div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <figure class="avatarki_8"><input type="image" src="../static/css_img/mates/first_creator.jpg" alt="нытик" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Вика Гончарова">
          <figcaption>Вика Гончарова</figcaption></figure>
        <figure class="avatarki_8"><input type="image" src="../static/css_img/mates/second_creator.jpg" alt="задолбалась слушать нытьё"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Самина Саттарова</figcaption></figure>
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Влад Цуриков</figcaption></figure>
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Сеня Зайцев</figcaption></figure>
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Кирилл Бобков</figcaption></figure>
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Лёня Григоренко</figcaption></figure>
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
         <figcaption>Дима Бурмистров</figcaption></figure>
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Володя Шкляев</figcaption></figure>
      </div>
      <div class="carousel-item">
        <figure class="avatarki_4"><input type="image" src="../static/css_img/mates/first_creator.jpg" alt="нытик" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Андрей Огибин</figcaption></figure>
        <figure class="avatarki_4"><input type="image" src="../static/css_img/mates/second_creator.jpg" alt="задолбалась слушать нытьё"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Ульяна Боровская</figcaption></figure>
        <figure class="avatarki_4"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Женя Якимов</figcaption></figure>
        <figure class="avatarki_4"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Дима Павлов</figcaption></figure>
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Володя Наумов</figcaption></figure>
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Серёжа Нерсесян</figcaption></figure>
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="@mdo">
          <figcaption>Артём Чёрный</figcaption></figure>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  <div class="basement">
    <label font size="15" color="#ffffff">По всем вопросам обращайтесь к нашему телеграмм-боту:
      <a href="http://t.me/site9N_bot" target="_blank"><font color="#ffffff">http://t.me/site9N_bot</font></a></label>
  </div>
</body>