<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/css_img/style.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="head">
    <div class="logo">
      <a href="#PiperNetIsHere"><img src="../static/css_img/logo.png" alt="logo"></a>
	</div>
    <nav>
      <a href="static/css_img/templates/contacts.html" target="_blank"><font color="#ffffff">Авторизация</font></a> |
      <a href="static/css_img/templates/contacts.html" target="_blank"><font color="#ffffff">Регистрация</font></a>
    </nav>
  </div>

  <div class="background_9n">
    <label><font size="60">9 "Н"</font></label>
  </div>

  <div class="background_borya">
    <h1 class="zagolvok"><font color="#834d18" size="50">Наш классный руководитель</font></h1>
    <img src="../static/css_img/boris.jpg" alt="борямбус" class="classruk">
    <div class="block_classruk">
      <br><label>Он такой-то сякой-то</label>
      <br><label>Мы его очень любим!</label>
      <br><label>Плюсы: нет</label>
      <br><label>Минусы: и библии не хватит</label>
    </div>
  </div>

  <div class="background_travels">
    <h1 class="zagolvok">Поездки</h1>
    <a href="../static/css_img/templates/chaepitiya.html" target="_blank">
      <img src="../static/css_img/chaepitiya.jpg" alt="борямбус" class="travels">
    </a>
    <a href="../static/css_img/templates/patriot.html" target="_blank">
      <img src="../static/css_img/park_patriot.jpg" alt="борямбус" class="travels">
    </a>
    <a href="../static/css_img/templates/spb.html" target="_blank">
      <img src="../static/css_img/spb.jpg" alt="борямбус" class="travels">
    </a>
  </div>

  <div class="description">
    <h1 class="zagolovok"><font size="7" color="#834d18">Почему именно они?</font></h1>
    <p>
      <br>Ну во-первых, они все ебанутые...
      <br>Во-вторых, дикие подлизы
      <br>В-третьих, конченные дебилы
      <br>Но всё-таки, <strong>как же мы их не любим!</strong>
    </p>
  </div>

  <div class="avas_area">
    <h1 class="zagolovok"><font size="7" color="#834d18">Вот они, справа налево</font></h1>
  </div>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% set i = "Вика Гончарова" %}
        <figure class="avatarki_8"><input type="image" src="../static/css_img/mates/first_creator.jpg" alt="нытик" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Вика Гончарова" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Вика Гончарова</figcaption></figure>
        {% set i = "Самина Саттарова" %}
        <figure class="avatarki_8"><input type="image" src="../static/css_img/mates/second_creator.jpg" alt="задолбалась слушать нытьё"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Самина Саттарова" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Самина Саттарова</figcaption></figure>
        {% set i = "Влад Цуриков" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Влад Цуриков" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Влад Цуриков</figcaption></figure>
        {% set i = "Сеня Зайцев" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Сеня Зайцев" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Сеня Зайцев</figcaption></figure>
        {% set i = "Кирилл Бобков" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Кирилл Бобков" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Кирилл Бобков</figcaption></figure>
        {% set i = "Лёня Григоренко" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Лёня Григоренко" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Лёня Григоренко</figcaption></figure>
        {% set i = "Дима Бурмистров" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Дима Бурмистров" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
         <figcaption>Дима Бурмистров</figcaption></figure>
        {% set i = "Володя Шкляев" %}
        <figure class="avatarki_8"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Володя Шкляев" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Володя Шкляев</figcaption></figure>
      </div>
      <div class="carousel-item">
        {% set i = "Андрей Огибин" %}
        <figure class="avatarki_4"><input type="image" src="../static/css_img/mates/first_creator.jpg" alt="нытик" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Андрей Огибин" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Андрей Огибин</figcaption></figure>
        {% set i = "Ульяна Боровская" %}
        <figure class="avatarki_4"><input type="image" src="../static/css_img/mates/second_creator.jpg" alt="задолбалась слушать нытьё"
                                          class="one_ava" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Ульяна Боровская" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Ульяна Боровская</figcaption></figure>
        {% set i = "Женя Якимов" %}
        <figure class="avatarki_4"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Женя Якимов" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Женя Якимов</figcaption></figure>
        {% set i = "Дима Павлов" %}
        <figure class="avatarki_4"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Дима Павлов" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Дима Павлов</figcaption></figure>
        {% set i = "Володя Наумов" %}
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Володя Наумов" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Володя Наумов</figcaption></figure>
        {% set i = "Серёжа Нерсесян" %}
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Серёжа Нерсесян" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Серёжа Нерсесян</figcaption></figure>
        {% set i = "Артём Чёрный" %}
        <figure class="avatarki_3"><input type='image' src="../static/css_img/mates/mks.jpg" alt="no questions pls" class="one_ava"
                                          data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="Артём Чёрный" data-bs-about="{{people[i][0]}}" data-bs-hobby="{{people[i][1]}}">
          <figcaption>Артём Чёрный</figcaption></figure>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <h1 class="col-form-label">Кто это?</h1>
                <p class="char"></p>
              </div>
              <div class="mb-3">
                <h1 class="col-form-label">Чем же занимается?</h1>
                <p class="hobby"></p>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="basement">
    <label font size="15" color="#ffffff">По всем вопросам обращайтесь к нашему телеграмм-боту:
      <a href="http://t.me/site9N_bot" target="_blank"><font color="#ffffff">http://t.me/site9N_bot</font></a></label>
  </div>
  <script type="text/javascript">

    const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const recipient = button.getAttribute('data-bs-name')
    const info = button.getAttribute('data-bs-about')
    const infoo = button.getAttribute('data-bs-hobby')
    const modalTitle = exampleModal.querySelector('.modal-title')
    const modalBody = exampleModal.querySelector('.char')
    const modalBody1 = exampleModal.querySelector('.hobby')
    modalTitle.textContent = `${recipient}`
    modalBody.textContent = `${info}`
    modalBody1.textContent = `${infoo}`

    })

  </script>
</body>