<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Travels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css_img/templates/travels.css">
</head>
<body>
  <h1 class="base">Записи в блоге о чаепитиях</h1>

  <div class="container">
      <h2><b>Пьём холодный чай, играем, общаемся</b></h2>
      <div class="post-meta">
          <time datetime="2023-03-26">июнь</time>
          <span class="author">наш класс</span>
          <span class="category">чаепитие</span>
      </div>
      <a class="text" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-title="{{content[0]}}"
         data-bs-discription="{{content[1]}}" data-bs-moments="{{content[1]}}" data-bs-conclusion="{{content[1]}}">Посмотреть запись</a>
  </div>

  <div class="container">
      <h2><b>Квест для любимых девочек</b></h2>
      <div class="post-meta">
          <time datetime="2023-03-26">март, 8</time>
          <span class="author">игра</span>
          <span class="category">праздник</span>
      </div>
      <a class="text" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-title="{{content2[0]}}"
         data-bs-discription="{{content2[1]}}" data-bs-moments="{{content2[2]}}" data-bs-conclusion="{{content2[3]}}">Посмотреть запись</a>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <h1 class="col-form-label">Описание</h1>
                <p class="disc"></p>
              </div>
              <div class="mb-3">
                <h1 class="col-form-label">Интересные события</h1>
                <p class="mom"></p>
              </div>
              <div class="mb-3">
                <h1 class="col-form-label">Выводы</h1>
                <p class="end"></p>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
  </div>

  <script type="text/javascript">

    const exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget
    const title = button.getAttribute('data-bs-title')
    const info = button.getAttribute('data-bs-discription')
    const infoo = button.getAttribute('data-bs-moments')
    const infooo = button.getAttribute('data-bs-conclusion')
    const modalTitle = exampleModal.querySelector('.modal-title')
    const modalBody = exampleModal.querySelector('.disc')
    const modalBody1 = exampleModal.querySelector('.mom')
    const modalBody2 = exampleModal.querySelector('.end')
    modalTitle.textContent = `${title}`
    modalBody.textContent = `${info}`
    modalBody1.textContent = `${infoo}`
    modalBody2.textContent = `${infooo}`

    })

  </script>
</body>
</html>